# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
bin/
include/
lib/
lib
lib64
pyvenv.cfg

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_Store

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~
*.code-workspace

# Node / JS / Vite / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/
coverage/
dawgpath_pipeline_admin/static/manifest.json
dawgpath_pipeline_admin/static/dawgpath_pipeline_admin/assets/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# SQLite & Databases
*.sqlite
*.sqlite3
db.sqlite
db.sqlite3
db.sqlite3-journal

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# IDE settings
.editorconfig

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# private connection settings
constring.txt

# node
node_modules/
package-lock.json

# vite bundle
assets/
manifest.json

# cypress image snapshots diffs
screenshots/
__diff_output__/

# coverage
coverage

app.conf
